<?php
$database = [
    "type"	 => "sqlite",	// sqlite or mysql
	"host"	 => null,		// SQLite: null, MySQL: IP or hostname
	"dbname" => __DIR__."/database/syncmarks.db", // SQLite: Path to database | MySQL: database name
	"user"	 => null,		// SQLite: null, MySQL: username
	"pwd"	 => null,		// SQLite: null, MySQL: password
];
$logfile = '/var/log/syncmarks.log'; // Full path to logfile
$realm = 'SyncMarks'; // Used for logging in
$loglevel = 2; // 	9=debug; 8=notice; 4=parse; 2=warn; 1=error
$sender = 'bookmarks@yourdomain.com'; // From which sender address will informational mails be send
$suser = 'admin'; // Used for firstime login
$spwd = 'mypass'; // Used for firstime login
$cexpjson = false; // if set to true (and loglevel >= 9), this creates a json file which is send to browser on import, containing your bookmarks
$enckey = 'Cu1815ZRtooY9SYX'; // random key for encryption
$enchash = '2EOkV9DPTndhcAU7'; // random hash for encryption
?>